
body{
   background-color: aqua;
   font-family: Arial, Helvetica, sans-serif;
}
h1{
    font-size: 3rem;
}
h2{
    font-size: 2rem;
}
nav ul{
    list-style: none;
    text-align: center;
}
nav li{
    display: inline-block;
    padding: 5px;
}
section{
    display:flex;
}
article{
    flex:1;
}
footer{
    display: flex;
}
#footerlogo{
    
}

